<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.pay.FuPayOrderMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.pay.FuPayOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="pay_amount_payable" jdbcType="DECIMAL" property="payAmountPayable" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="pay_amount_offer" jdbcType="DECIMAL" property="payAmountOffer" />
    <result column="pay_offer_type" jdbcType="TINYINT" property="payOfferType" />
    <result column="pay_offer_id" jdbcType="INTEGER" property="payOfferId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_quantity" jdbcType="DECIMAL" property="productQuantity" />
    <result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_id, user_id, account_id, pay_amount_payable, pay_amount, pay_amount_offer, 
    pay_offer_type, pay_offer_id, pay_time, pay_type, product_id, product_price, product_quantity, 
    product_amount, status, comment, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_pay_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_pay_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.pay.FuPayOrder">
    insert into fu_pay_order (id, pay_id, user_id, 
      account_id, pay_amount_payable, pay_amount, 
      pay_amount_offer, pay_offer_type, pay_offer_id, 
      pay_time, pay_type, product_id, 
      product_price, product_quantity, product_amount, 
      status, comment, create_date, 
      modify_date)
    values (#{id,jdbcType=INTEGER}, #{payId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{accountId,jdbcType=VARCHAR}, #{payAmountPayable,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, 
      #{payAmountOffer,jdbcType=DECIMAL}, #{payOfferType,jdbcType=TINYINT}, #{payOfferId,jdbcType=INTEGER}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=TINYINT}, #{productId,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL}, #{productQuantity,jdbcType=DECIMAL}, #{productAmount,jdbcType=DECIMAL}, 
      #{status,jdbcType=TINYINT}, #{comment,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.pay.FuPayOrder">
    insert into fu_pay_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="payAmountPayable != null">
        pay_amount_payable,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="payAmountOffer != null">
        pay_amount_offer,
      </if>
      <if test="payOfferType != null">
        pay_offer_type,
      </if>
      <if test="payOfferId != null">
        pay_offer_id,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productQuantity != null">
        product_quantity,
      </if>
      <if test="productAmount != null">
        product_amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="payAmountPayable != null">
        #{payAmountPayable,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmountOffer != null">
        #{payAmountOffer,jdbcType=DECIMAL},
      </if>
      <if test="payOfferType != null">
        #{payOfferType,jdbcType=TINYINT},
      </if>
      <if test="payOfferId != null">
        #{payOfferId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productQuantity != null">
        #{productQuantity,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null">
        #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.pay.FuPayOrder">
    update fu_pay_order
    <set>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="payAmountPayable != null">
        pay_amount_payable = #{payAmountPayable,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmountOffer != null">
        pay_amount_offer = #{payAmountOffer,jdbcType=DECIMAL},
      </if>
      <if test="payOfferType != null">
        pay_offer_type = #{payOfferType,jdbcType=TINYINT},
      </if>
      <if test="payOfferId != null">
        pay_offer_id = #{payOfferId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productQuantity != null">
        product_quantity = #{productQuantity,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null">
        product_amount = #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.pay.FuPayOrder">
    update fu_pay_order
    set pay_id = #{payId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=VARCHAR},
      pay_amount_payable = #{payAmountPayable,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      pay_amount_offer = #{payAmountOffer,jdbcType=DECIMAL},
      pay_offer_type = #{payOfferType,jdbcType=TINYINT},
      pay_offer_id = #{payOfferId,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=TINYINT},
      product_id = #{productId,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_quantity = #{productQuantity,jdbcType=DECIMAL},
      product_amount = #{productAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>