<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.com.FuComAgentMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.com.FuComAgent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="agent_type" jdbcType="TINYINT" property="agentType" />
    <result column="agent_level" jdbcType="TINYINT" property="agentLevel" />
    <result column="apply_desc" jdbcType="VARCHAR" property="applyDesc" />
    <result column="agent_number" jdbcType="INTEGER" property="agentNumber" />
    <result column="agent_state" jdbcType="TINYINT" property="agentState" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, agent_name, agent_type, agent_level, apply_desc, agent_number, agent_state, group_name, 
    comment, user_id, create_date, modify_date, apply_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_com_agent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_com_agent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.com.FuComAgent">
    insert into fu_com_agent (id, agent_name, agent_type, 
      agent_level, apply_desc, agent_number, 
      agent_state, group_name, comment, 
      user_id, create_date, modify_date, 
      apply_date)
    values (#{id,jdbcType=INTEGER}, #{agentName,jdbcType=VARCHAR}, #{agentType,jdbcType=TINYINT}, 
      #{agentLevel,jdbcType=TINYINT}, #{applyDesc,jdbcType=VARCHAR}, #{agentNumber,jdbcType=INTEGER}, 
      #{agentState,jdbcType=TINYINT}, #{groupName,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{applyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.com.FuComAgent">
    insert into fu_com_agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="agentName != null">
        agent_name,
      </if>
      <if test="agentType != null">
        agent_type,
      </if>
      <if test="agentLevel != null">
        agent_level,
      </if>
      <if test="applyDesc != null">
        apply_desc,
      </if>
      <if test="agentNumber != null">
        agent_number,
      </if>
      <if test="agentState != null">
        agent_state,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        #{agentType,jdbcType=TINYINT},
      </if>
      <if test="agentLevel != null">
        #{agentLevel,jdbcType=TINYINT},
      </if>
      <if test="applyDesc != null">
        #{applyDesc,jdbcType=VARCHAR},
      </if>
      <if test="agentNumber != null">
        #{agentNumber,jdbcType=INTEGER},
      </if>
      <if test="agentState != null">
        #{agentState,jdbcType=TINYINT},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.com.FuComAgent">
    update fu_com_agent
    <set>
      <if test="agentName != null">
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        agent_type = #{agentType,jdbcType=TINYINT},
      </if>
      <if test="agentLevel != null">
        agent_level = #{agentLevel,jdbcType=TINYINT},
      </if>
      <if test="applyDesc != null">
        apply_desc = #{applyDesc,jdbcType=VARCHAR},
      </if>
      <if test="agentNumber != null">
        agent_number = #{agentNumber,jdbcType=INTEGER},
      </if>
      <if test="agentState != null">
        agent_state = #{agentState,jdbcType=TINYINT},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.com.FuComAgent">
    update fu_com_agent
    set agent_name = #{agentName,jdbcType=VARCHAR},
      agent_type = #{agentType,jdbcType=TINYINT},
      agent_level = #{agentLevel,jdbcType=TINYINT},
      apply_desc = #{applyDesc,jdbcType=VARCHAR},
      agent_number = #{agentNumber,jdbcType=INTEGER},
      agent_state = #{agentState,jdbcType=TINYINT},
      group_name = #{groupName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      apply_date = #{applyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryAgentByProjCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      a.id,
      a.agent_name,
      a.agent_type,
      a.agent_level,
      a.apply_desc,
      a.agent_number,
      a.agent_state,
      a.group_name,
      a.COMMENT,
      a.user_id,
      a.create_date,
      a.modify_date,
      a.apply_date
    FROM
      fu_com_agent a
    LEFT JOIN fu_permission_userproject p ON a.user_id = p.user_id
    WHERE
      1=1
        <if test="id != null and id != ''">
          and a.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="agentName != null and agentName != ''">
          and a.agent_name = #{agentName,jdbcType=VARCHAR}
        </if>
        <if test="agentType != null and  agentType != '' or  agentType == '0'.toString()">
          and a.agent_type = #{agentType,jdbcType=TINYINT}
        </if>
        <if test="agentLevel != null and  agentLevel != '' or  agentLevel == '0'.toString()">
          and a.agent_level = #{agentLevel,jdbcType=TINYINT}
        </if>
        <if test="agentState != null and  agentState != '' or  agentState == '0'.toString()">
          and a.agent_state = #{agentState,jdbcType=TINYINT}
        </if>
        <if test="groupName != null and groupName != ''">
          and a.group_name = #{groupName,jdbcType=VARCHAR}
        </if>
        <if test="userId != null and userId != ''">
          and a.user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="createDate != null">
          and a.create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="modifyDate != null">
          and a.modify_date = #{modifyDate,jdbcType=TIMESTAMP}
        </if>
        <if test="applyDate != null">
          and a.apply_date = #{applyDate,jdbcType=TIMESTAMP}
        </if>
        <if test="projKey != null and  orderType != '' or  orderType == '0'.toString()">
          and p.proj_key = #{projKey,jdbcType=INTEGER}
        </if>
  </select>
</mapper>