<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.product.FuProductSignalApplyMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.product.FuProductSignalApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="signal_name" jdbcType="VARCHAR" property="signalName" />
    <result column="signal_tem" jdbcType="VARCHAR" property="signalTem" />
    <result column="signal_desc" jdbcType="VARCHAR" property="signalDesc" />
    <result column="signal_currency" jdbcType="VARCHAR" property="signalCurrency" />
    <result column="monthly_average_income" jdbcType="DECIMAL" property="monthlyAverageIncome" />
    <result column="history_withdraw" jdbcType="DECIMAL" property="historyWithdraw" />
    <result column="apply_state" jdbcType="TINYINT" property="applyState" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="server_name" jdbcType="VARCHAR" property="serverName" />
    <result column="mt_acc_id" jdbcType="VARCHAR" property="mtAccId" />
    <result column="mt_password_trade" jdbcType="VARCHAR" property="mtPasswordTrade" />
    <result column="mt_password_watch" jdbcType="VARCHAR" property="mtPasswordWatch" />
    <result column="minimum" jdbcType="DECIMAL" property="minimum" />
    <result column="annualized_expected_return" jdbcType="DECIMAL" property="annualizedExpectedReturn" />
    <result column="historical_return" jdbcType="DECIMAL" property="historicalReturn" />
    <result column="suggest_cycle" jdbcType="DECIMAL" property="suggestCycle" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="proj_key" jdbcType="INTEGER" property="projKey" />
    <result column="proj_name" jdbcType="VARCHAR" property="projName" />
    <result column="oper_user_id" jdbcType="INTEGER" property="operUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, signal_name, signal_tem, signal_desc, signal_currency, monthly_average_income, 
    history_withdraw, apply_state, apply_date, check_date, create_date, modify_date, 
    email, phone, qq_number, server_name, mt_acc_id, mt_password_trade, mt_password_watch, 
    minimum, annualized_expected_return, historical_return, suggest_cycle, remarks, proj_key, 
    proj_name, oper_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_product_signal_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_product_signal_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.product.FuProductSignalApply">
    insert into fu_product_signal_apply (id, user_id, signal_name, 
      signal_tem, signal_desc, signal_currency, 
      monthly_average_income, history_withdraw, 
      apply_state, apply_date, check_date, 
      create_date, modify_date, email, 
      phone, qq_number, server_name, 
      mt_acc_id, mt_password_trade, mt_password_watch, 
      minimum, annualized_expected_return, historical_return, 
      suggest_cycle, remarks, proj_key, 
      proj_name, oper_user_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{signalName,jdbcType=VARCHAR}, 
      #{signalTem,jdbcType=VARCHAR}, #{signalDesc,jdbcType=VARCHAR}, #{signalCurrency,jdbcType=VARCHAR}, 
      #{monthlyAverageIncome,jdbcType=DECIMAL}, #{historyWithdraw,jdbcType=DECIMAL}, 
      #{applyState,jdbcType=TINYINT}, #{applyDate,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{qqNumber,jdbcType=VARCHAR}, #{serverName,jdbcType=VARCHAR}, 
      #{mtAccId,jdbcType=VARCHAR}, #{mtPasswordTrade,jdbcType=VARCHAR}, #{mtPasswordWatch,jdbcType=VARCHAR}, 
      #{minimum,jdbcType=DECIMAL}, #{annualizedExpectedReturn,jdbcType=DECIMAL}, #{historicalReturn,jdbcType=DECIMAL}, 
      #{suggestCycle,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{projKey,jdbcType=INTEGER}, 
      #{projName,jdbcType=VARCHAR}, #{operUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.product.FuProductSignalApply">
    insert into fu_product_signal_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="signalName != null">
        signal_name,
      </if>
      <if test="signalTem != null">
        signal_tem,
      </if>
      <if test="signalDesc != null">
        signal_desc,
      </if>
      <if test="signalCurrency != null">
        signal_currency,
      </if>
      <if test="monthlyAverageIncome != null">
        monthly_average_income,
      </if>
      <if test="historyWithdraw != null">
        history_withdraw,
      </if>
      <if test="applyState != null">
        apply_state,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="qqNumber != null">
        qq_number,
      </if>
      <if test="serverName != null">
        server_name,
      </if>
      <if test="mtAccId != null">
        mt_acc_id,
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade,
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch,
      </if>
      <if test="minimum != null">
        minimum,
      </if>
      <if test="annualizedExpectedReturn != null">
        annualized_expected_return,
      </if>
      <if test="historicalReturn != null">
        historical_return,
      </if>
      <if test="suggestCycle != null">
        suggest_cycle,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="projKey != null">
        proj_key,
      </if>
      <if test="projName != null">
        proj_name,
      </if>
      <if test="operUserId != null">
        oper_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalTem != null">
        #{signalTem,jdbcType=VARCHAR},
      </if>
      <if test="signalDesc != null">
        #{signalDesc,jdbcType=VARCHAR},
      </if>
      <if test="signalCurrency != null">
        #{signalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="monthlyAverageIncome != null">
        #{monthlyAverageIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyWithdraw != null">
        #{historyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="applyState != null">
        #{applyState,jdbcType=TINYINT},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="minimum != null">
        #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="annualizedExpectedReturn != null">
        #{annualizedExpectedReturn,jdbcType=DECIMAL},
      </if>
      <if test="historicalReturn != null">
        #{historicalReturn,jdbcType=DECIMAL},
      </if>
      <if test="suggestCycle != null">
        #{suggestCycle,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="projKey != null">
        #{projKey,jdbcType=INTEGER},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        #{operUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.product.FuProductSignalApply">
    update fu_product_signal_apply
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        signal_name = #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalTem != null">
        signal_tem = #{signalTem,jdbcType=VARCHAR},
      </if>
      <if test="signalDesc != null">
        signal_desc = #{signalDesc,jdbcType=VARCHAR},
      </if>
      <if test="signalCurrency != null">
        signal_currency = #{signalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="monthlyAverageIncome != null">
        monthly_average_income = #{monthlyAverageIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyWithdraw != null">
        history_withdraw = #{historyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="applyState != null">
        apply_state = #{applyState,jdbcType=TINYINT},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        server_name = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="minimum != null">
        minimum = #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="annualizedExpectedReturn != null">
        annualized_expected_return = #{annualizedExpectedReturn,jdbcType=DECIMAL},
      </if>
      <if test="historicalReturn != null">
        historical_return = #{historicalReturn,jdbcType=DECIMAL},
      </if>
      <if test="suggestCycle != null">
        suggest_cycle = #{suggestCycle,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="projKey != null">
        proj_key = #{projKey,jdbcType=INTEGER},
      </if>
      <if test="projName != null">
        proj_name = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        oper_user_id = #{operUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.product.FuProductSignalApply">
    update fu_product_signal_apply
    set user_id = #{userId,jdbcType=INTEGER},
      signal_name = #{signalName,jdbcType=VARCHAR},
      signal_tem = #{signalTem,jdbcType=VARCHAR},
      signal_desc = #{signalDesc,jdbcType=VARCHAR},
      signal_currency = #{signalCurrency,jdbcType=VARCHAR},
      monthly_average_income = #{monthlyAverageIncome,jdbcType=DECIMAL},
      history_withdraw = #{historyWithdraw,jdbcType=DECIMAL},
      apply_state = #{applyState,jdbcType=TINYINT},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      check_date = #{checkDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      server_name = #{serverName,jdbcType=VARCHAR},
      mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      minimum = #{minimum,jdbcType=DECIMAL},
      annualized_expected_return = #{annualizedExpectedReturn,jdbcType=DECIMAL},
      historical_return = #{historicalReturn,jdbcType=DECIMAL},
      suggest_cycle = #{suggestCycle,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      proj_key = #{projKey,jdbcType=INTEGER},
      proj_name = #{projName,jdbcType=VARCHAR},
      oper_user_id = #{operUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>