<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.product.FuProductSignalMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.product.FuProductSignal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="signal_name" jdbcType="VARCHAR" property="signalName" />
    <result column="signal_level" jdbcType="TINYINT" property="signalLevel" />
    <result column="signal_desc" jdbcType="VARCHAR" property="signalDesc" />
    <result column="signal_ratings" jdbcType="TINYINT" property="signalRatings" />
    <result column="signal_state" jdbcType="TINYINT" property="signalState" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="signal_tem" jdbcType="VARCHAR" property="signalTem" />
    <result column="signal_lots" jdbcType="INTEGER" property="signalLots" />
    <result column="signal_lots_profit" jdbcType="INTEGER" property="signalLotsProfit" />
    <result column="signal_account_money" jdbcType="DECIMAL" property="signalAccountMoney" />
    <result column="signal_currency" jdbcType="VARCHAR" property="signalCurrency" />
    <result column="signal_follows" jdbcType="INTEGER" property="signalFollows" />
    <result column="monthly_average_income" jdbcType="DECIMAL" property="monthlyAverageIncome" />
    <result column="history_income" jdbcType="DECIMAL" property="historyIncome" />
    <result column="history_withdraw" jdbcType="DECIMAL" property="historyWithdraw" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="server_name" jdbcType="VARCHAR" property="serverName" />
    <result column="mt_acc_id" jdbcType="VARCHAR" property="mtAccId" />
    <result column="mt_password_trade" jdbcType="VARCHAR" property="mtPasswordTrade" />
    <result column="mt_password_watch" jdbcType="VARCHAR" property="mtPasswordWatch" />
    <result column="minimum" jdbcType="DECIMAL" property="minimum" />
    <result column="annualized_expected_return" jdbcType="DECIMAL" property="annualizedExpectedReturn" />
    <result column="historical_return" jdbcType="DECIMAL" property="historicalReturn" />
    <result column="suggest_cycle" jdbcType="DECIMAL" property="suggestCycle" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="connect_state" jdbcType="TINYINT" property="connectState" />
    <result column="proj_key" jdbcType="INTEGER" property="projKey" />
    <result column="proj_name" jdbcType="VARCHAR" property="projName" />
    <result column="oper_user_id" jdbcType="INTEGER" property="operUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, user_id, signal_name, signal_level, signal_desc, signal_ratings, 
    signal_state, apply_date, check_date, signal_tem, signal_lots, signal_lots_profit, 
    signal_account_money, signal_currency, signal_follows, monthly_average_income, history_income, 
    history_withdraw, email, phone, qq_number, server_name, mt_acc_id, mt_password_trade, 
    mt_password_watch, minimum, annualized_expected_return, historical_return, suggest_cycle, 
    remarks, connect_state, proj_key, proj_name, oper_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_product_signal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_product_signal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.product.FuProductSignal">
    insert into fu_product_signal (id, create_date, modify_date, 
      user_id, signal_name, signal_level, 
      signal_desc, signal_ratings, signal_state, 
      apply_date, check_date, signal_tem, 
      signal_lots, signal_lots_profit, signal_account_money, 
      signal_currency, signal_follows, monthly_average_income, 
      history_income, history_withdraw, email, 
      phone, qq_number, server_name, 
      mt_acc_id, mt_password_trade, mt_password_watch, 
      minimum, annualized_expected_return, historical_return, 
      suggest_cycle, remarks, connect_state, 
      proj_key, proj_name, oper_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{signalName,jdbcType=VARCHAR}, #{signalLevel,jdbcType=TINYINT}, 
      #{signalDesc,jdbcType=VARCHAR}, #{signalRatings,jdbcType=TINYINT}, #{signalState,jdbcType=TINYINT}, 
      #{applyDate,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=TIMESTAMP}, #{signalTem,jdbcType=VARCHAR}, 
      #{signalLots,jdbcType=INTEGER}, #{signalLotsProfit,jdbcType=INTEGER}, #{signalAccountMoney,jdbcType=DECIMAL}, 
      #{signalCurrency,jdbcType=VARCHAR}, #{signalFollows,jdbcType=INTEGER}, #{monthlyAverageIncome,jdbcType=DECIMAL}, 
      #{historyIncome,jdbcType=DECIMAL}, #{historyWithdraw,jdbcType=DECIMAL}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{qqNumber,jdbcType=VARCHAR}, #{serverName,jdbcType=VARCHAR}, 
      #{mtAccId,jdbcType=VARCHAR}, #{mtPasswordTrade,jdbcType=VARCHAR}, #{mtPasswordWatch,jdbcType=VARCHAR}, 
      #{minimum,jdbcType=DECIMAL}, #{annualizedExpectedReturn,jdbcType=DECIMAL}, #{historicalReturn,jdbcType=DECIMAL}, 
      #{suggestCycle,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{connectState,jdbcType=TINYINT}, 
      #{projKey,jdbcType=INTEGER}, #{projName,jdbcType=VARCHAR}, #{operUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.product.FuProductSignal">
    insert into fu_product_signal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="signalName != null">
        signal_name,
      </if>
      <if test="signalLevel != null">
        signal_level,
      </if>
      <if test="signalDesc != null">
        signal_desc,
      </if>
      <if test="signalRatings != null">
        signal_ratings,
      </if>
      <if test="signalState != null">
        signal_state,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
      <if test="signalTem != null">
        signal_tem,
      </if>
      <if test="signalLots != null">
        signal_lots,
      </if>
      <if test="signalLotsProfit != null">
        signal_lots_profit,
      </if>
      <if test="signalAccountMoney != null">
        signal_account_money,
      </if>
      <if test="signalCurrency != null">
        signal_currency,
      </if>
      <if test="signalFollows != null">
        signal_follows,
      </if>
      <if test="monthlyAverageIncome != null">
        monthly_average_income,
      </if>
      <if test="historyIncome != null">
        history_income,
      </if>
      <if test="historyWithdraw != null">
        history_withdraw,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="qqNumber != null">
        qq_number,
      </if>
      <if test="serverName != null">
        server_name,
      </if>
      <if test="mtAccId != null">
        mt_acc_id,
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade,
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch,
      </if>
      <if test="minimum != null">
        minimum,
      </if>
      <if test="annualizedExpectedReturn != null">
        annualized_expected_return,
      </if>
      <if test="historicalReturn != null">
        historical_return,
      </if>
      <if test="suggestCycle != null">
        suggest_cycle,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="connectState != null">
        connect_state,
      </if>
      <if test="projKey != null">
        proj_key,
      </if>
      <if test="projName != null">
        proj_name,
      </if>
      <if test="operUserId != null">
        oper_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalLevel != null">
        #{signalLevel,jdbcType=TINYINT},
      </if>
      <if test="signalDesc != null">
        #{signalDesc,jdbcType=VARCHAR},
      </if>
      <if test="signalRatings != null">
        #{signalRatings,jdbcType=TINYINT},
      </if>
      <if test="signalState != null">
        #{signalState,jdbcType=TINYINT},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signalTem != null">
        #{signalTem,jdbcType=VARCHAR},
      </if>
      <if test="signalLots != null">
        #{signalLots,jdbcType=INTEGER},
      </if>
      <if test="signalLotsProfit != null">
        #{signalLotsProfit,jdbcType=INTEGER},
      </if>
      <if test="signalAccountMoney != null">
        #{signalAccountMoney,jdbcType=DECIMAL},
      </if>
      <if test="signalCurrency != null">
        #{signalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="signalFollows != null">
        #{signalFollows,jdbcType=INTEGER},
      </if>
      <if test="monthlyAverageIncome != null">
        #{monthlyAverageIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyIncome != null">
        #{historyIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyWithdraw != null">
        #{historyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="minimum != null">
        #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="annualizedExpectedReturn != null">
        #{annualizedExpectedReturn,jdbcType=DECIMAL},
      </if>
      <if test="historicalReturn != null">
        #{historicalReturn,jdbcType=DECIMAL},
      </if>
      <if test="suggestCycle != null">
        #{suggestCycle,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="connectState != null">
        #{connectState,jdbcType=TINYINT},
      </if>
      <if test="projKey != null">
        #{projKey,jdbcType=INTEGER},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        #{operUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.product.FuProductSignal">
    update fu_product_signal
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        signal_name = #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalLevel != null">
        signal_level = #{signalLevel,jdbcType=TINYINT},
      </if>
      <if test="signalDesc != null">
        signal_desc = #{signalDesc,jdbcType=VARCHAR},
      </if>
      <if test="signalRatings != null">
        signal_ratings = #{signalRatings,jdbcType=TINYINT},
      </if>
      <if test="signalState != null">
        signal_state = #{signalState,jdbcType=TINYINT},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signalTem != null">
        signal_tem = #{signalTem,jdbcType=VARCHAR},
      </if>
      <if test="signalLots != null">
        signal_lots = #{signalLots,jdbcType=INTEGER},
      </if>
      <if test="signalLotsProfit != null">
        signal_lots_profit = #{signalLotsProfit,jdbcType=INTEGER},
      </if>
      <if test="signalAccountMoney != null">
        signal_account_money = #{signalAccountMoney,jdbcType=DECIMAL},
      </if>
      <if test="signalCurrency != null">
        signal_currency = #{signalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="signalFollows != null">
        signal_follows = #{signalFollows,jdbcType=INTEGER},
      </if>
      <if test="monthlyAverageIncome != null">
        monthly_average_income = #{monthlyAverageIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyIncome != null">
        history_income = #{historyIncome,jdbcType=DECIMAL},
      </if>
      <if test="historyWithdraw != null">
        history_withdraw = #{historyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        server_name = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="minimum != null">
        minimum = #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="annualizedExpectedReturn != null">
        annualized_expected_return = #{annualizedExpectedReturn,jdbcType=DECIMAL},
      </if>
      <if test="historicalReturn != null">
        historical_return = #{historicalReturn,jdbcType=DECIMAL},
      </if>
      <if test="suggestCycle != null">
        suggest_cycle = #{suggestCycle,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="connectState != null">
        connect_state = #{connectState,jdbcType=TINYINT},
      </if>
      <if test="projKey != null">
        proj_key = #{projKey,jdbcType=INTEGER},
      </if>
      <if test="projName != null">
        proj_name = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        oper_user_id = #{operUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.product.FuProductSignal">
    update fu_product_signal
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      signal_name = #{signalName,jdbcType=VARCHAR},
      signal_level = #{signalLevel,jdbcType=TINYINT},
      signal_desc = #{signalDesc,jdbcType=VARCHAR},
      signal_ratings = #{signalRatings,jdbcType=TINYINT},
      signal_state = #{signalState,jdbcType=TINYINT},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      check_date = #{checkDate,jdbcType=TIMESTAMP},
      signal_tem = #{signalTem,jdbcType=VARCHAR},
      signal_lots = #{signalLots,jdbcType=INTEGER},
      signal_lots_profit = #{signalLotsProfit,jdbcType=INTEGER},
      signal_account_money = #{signalAccountMoney,jdbcType=DECIMAL},
      signal_currency = #{signalCurrency,jdbcType=VARCHAR},
      signal_follows = #{signalFollows,jdbcType=INTEGER},
      monthly_average_income = #{monthlyAverageIncome,jdbcType=DECIMAL},
      history_income = #{historyIncome,jdbcType=DECIMAL},
      history_withdraw = #{historyWithdraw,jdbcType=DECIMAL},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      server_name = #{serverName,jdbcType=VARCHAR},
      mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      minimum = #{minimum,jdbcType=DECIMAL},
      annualized_expected_return = #{annualizedExpectedReturn,jdbcType=DECIMAL},
      historical_return = #{historicalReturn,jdbcType=DECIMAL},
      suggest_cycle = #{suggestCycle,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      connect_state = #{connectState,jdbcType=TINYINT},
      proj_key = #{projKey,jdbcType=INTEGER},
      proj_name = #{projName,jdbcType=VARCHAR},
      oper_user_id = #{operUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="querySignalUsers" parameterType="java.util.Map" resultType="com.future.pojo.vo.signal.FuUserSignalVO">
    SELECT
      s.id signalId,
      s.create_date createDate,
      s.modify_date modifyDate,
      s.user_id userId,
      s.signal_name signalName,
      s.signal_level signalLevel,
      s.signal_desc signalDesc,
      s.check_date checkDate,
      s.signal_tem signalTem,
      s.signal_lots signalLots,
      s.signal_lots_profit signalLotsProfit,
      s.signal_currency signalCurrency,
      s.signal_follows signalFollows,
      s.monthly_average_income monthlyAverageIncome,
      s.history_withdraw historyWithdraw,
      s.email,
      s.server_name serverName,
      s.mt_acc_id mtAccId,
      s.minimum,
      s.annualized_expected_return annualizedExpectedReturn,
      s.historical_return historicalReturn,
      s.suggest_cycle suggestCycle,
      s.remarks,
      s.proj_name projName,
      s.proj_key projKey,
      s.oper_user_id operUserId,
      v.valuation_date valuationDate,
      v.LEVEL,
      v.steady_score steadyScore,
      v.profit_score profitScore,
      v.risk_control_score riskControlScore,
      v.fund_size_score fundSizeScore,
      v.non_fluke_profit_score nonFlukeProfitScore,
      v.score,
      u.username,
      u.real_name realName,
      u.ref_name refName,
      u.introducer,
      u.recommend,
      u.sex,
      u.follow_level followLevel,
      u.avatar_url avatarUrl,
      m.broker_name brokerName,
      m.balance balance,
      m.leverage leverage,
      m.credit,
      m.profit,
      m.equity,
      m.margin
    FROM
        fu_product_signal s
    LEFT JOIN fu_product_signal_valuation v ON s.id = v.signal_id
    LEFT JOIN fu_user u ON s.user_id = u.id
    LEFT JOIN fu_account_mt m ON s.user_id=m.user_id and s.mt_acc_id=m.mt_acc_id
    where 1=1
      <if test="userId != null">
        and s.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="signalId != null">
        and s.id = #{signalId,jdbcType=INTEGER}
      </if>
      <if test="mtAccId != null">
        and s.mt_acc_id = #{mtAccId,jdbcType=INTEGER}
      </if>
      <if test="brokerName != null">
        and m.broker_name = #{brokerName,jdbcType=INTEGER}
      </if>
      <if test="level != null">
        and v.LEVEL = #{level,jdbcType=INTEGER}
      </if>
  </select>
  <select id="querySignalAllowed" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      DISTINCT
      s.id,
      s.create_date,
      s.modify_date,
      s.user_id,
      s.signal_name,
      s.signal_level,
      s.signal_desc,
      s.signal_ratings,
      s.signal_state,
      s.apply_date,
      s.check_date,
      s.signal_tem,
      s.signal_lots,
      s.signal_lots_profit,
      s.signal_account_money,
      s.signal_currency,
      s.signal_follows,
      s.monthly_average_income,
      s.history_income,
      s.history_withdraw,
      s.email,
      s.phone,
      s.qq_number,
      s.server_name,
      s.mt_acc_id,
      s.mt_password_trade,
      s.mt_password_watch,
      s.minimum,
      s.annualized_expected_return,
      s.historical_return,
      s.suggest_cycle,
      s.remarks,
      s.connect_state,
      s.proj_key,
      s.proj_name,
      s.oper_user_id
    FROM
        fu_product_signal s
    LEFT JOIN fu_product_signal_permit p on s.id=p.signal_id
    where 1=1
      <if test="userId != null and userId != ''">
        and s.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="signalId != null and signalId != ''">
        and s.id = #{signalId,jdbcType=INTEGER}
      </if>
      <if test="mtAccId != null and mtAccId != ''">
        and s.mt_acc_id = #{mtAccId,jdbcType=INTEGER}
      </if>
      <if test="projKey != null and projKey != ''">
        and p.proj_key = #{projKey,jdbcType=INTEGER}
      </if>
  </select>
</mapper>