<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.order.FuOrderFollowErrorMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.order.FuOrderFollowError">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="user_order_id" jdbcType="INTEGER" property="userOrderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_server_id" jdbcType="INTEGER" property="userServerId" />
    <result column="user_server_name" jdbcType="VARCHAR" property="userServerName" />
    <result column="user_mt_acc_id" jdbcType="VARCHAR" property="userMtAccId" />
    <result column="signal_id" jdbcType="INTEGER" property="signalId" />
    <result column="signal_order_id" jdbcType="VARCHAR" property="signalOrderId" />
    <result column="signal_server_id" jdbcType="INTEGER" property="signalServerId" />
    <result column="signal_server_name" jdbcType="VARCHAR" property="signalServerName" />
    <result column="signal_mt_acc_id" jdbcType="VARCHAR" property="signalMtAccId" />
    <result column="signal_order_superior" jdbcType="VARCHAR" property="signalOrderSuperior" />
    <result column="follow_direct" jdbcType="TINYINT" property="followDirect" />
    <result column="follow_mode" jdbcType="TINYINT" property="followMode" />
    <result column="follow_type" jdbcType="TINYINT" property="followType" />
    <result column="follow_amount" jdbcType="DECIMAL" property="followAmount" />
    <result column="order_lots" jdbcType="DECIMAL" property="orderLots" />
    <result column="order_symbol" jdbcType="VARCHAR" property="orderSymbol" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_trade_operation" jdbcType="TINYINT" property="orderTradeOperation" />
    <result column="order_open_price" jdbcType="DECIMAL" property="orderOpenPrice" />
    <result column="order_open_date" jdbcType="TIMESTAMP" property="orderOpenDate" />
    <result column="order_close_price" jdbcType="DECIMAL" property="orderClosePrice" />
    <result column="order_close_date" jdbcType="TIMESTAMP" property="orderCloseDate" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, user_order_id, user_id, user_server_id, user_server_name, 
    user_mt_acc_id, signal_id, signal_order_id, signal_server_id, signal_server_name, 
    signal_mt_acc_id, signal_order_superior, follow_direct, follow_mode, follow_type, 
    follow_amount, order_lots, order_symbol, order_type, order_trade_operation, order_open_price, 
    order_open_date, order_close_price, order_close_date, error_code, error_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_order_follow_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_order_follow_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.order.FuOrderFollowError">
    insert into fu_order_follow_error (id, create_date, modify_date, 
      user_order_id, user_id, user_server_id, 
      user_server_name, user_mt_acc_id, signal_id, 
      signal_order_id, signal_server_id, signal_server_name, 
      signal_mt_acc_id, signal_order_superior, follow_direct, 
      follow_mode, follow_type, follow_amount, 
      order_lots, order_symbol, order_type, 
      order_trade_operation, order_open_price, order_open_date, 
      order_close_price, order_close_date, error_code, 
      error_msg)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{userOrderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userServerId,jdbcType=INTEGER}, 
      #{userServerName,jdbcType=VARCHAR}, #{userMtAccId,jdbcType=VARCHAR}, #{signalId,jdbcType=INTEGER}, 
      #{signalOrderId,jdbcType=VARCHAR}, #{signalServerId,jdbcType=INTEGER}, #{signalServerName,jdbcType=VARCHAR}, 
      #{signalMtAccId,jdbcType=VARCHAR}, #{signalOrderSuperior,jdbcType=VARCHAR}, #{followDirect,jdbcType=TINYINT}, 
      #{followMode,jdbcType=TINYINT}, #{followType,jdbcType=TINYINT}, #{followAmount,jdbcType=DECIMAL}, 
      #{orderLots,jdbcType=DECIMAL}, #{orderSymbol,jdbcType=VARCHAR}, #{orderType,jdbcType=TINYINT}, 
      #{orderTradeOperation,jdbcType=TINYINT}, #{orderOpenPrice,jdbcType=DECIMAL}, #{orderOpenDate,jdbcType=TIMESTAMP}, 
      #{orderClosePrice,jdbcType=DECIMAL}, #{orderCloseDate,jdbcType=TIMESTAMP}, #{errorCode,jdbcType=INTEGER}, 
      #{errorMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.order.FuOrderFollowError">
    insert into fu_order_follow_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="userOrderId != null">
        user_order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userServerId != null">
        user_server_id,
      </if>
      <if test="userServerName != null">
        user_server_name,
      </if>
      <if test="userMtAccId != null">
        user_mt_acc_id,
      </if>
      <if test="signalId != null">
        signal_id,
      </if>
      <if test="signalOrderId != null">
        signal_order_id,
      </if>
      <if test="signalServerId != null">
        signal_server_id,
      </if>
      <if test="signalServerName != null">
        signal_server_name,
      </if>
      <if test="signalMtAccId != null">
        signal_mt_acc_id,
      </if>
      <if test="signalOrderSuperior != null">
        signal_order_superior,
      </if>
      <if test="followDirect != null">
        follow_direct,
      </if>
      <if test="followMode != null">
        follow_mode,
      </if>
      <if test="followType != null">
        follow_type,
      </if>
      <if test="followAmount != null">
        follow_amount,
      </if>
      <if test="orderLots != null">
        order_lots,
      </if>
      <if test="orderSymbol != null">
        order_symbol,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation,
      </if>
      <if test="orderOpenPrice != null">
        order_open_price,
      </if>
      <if test="orderOpenDate != null">
        order_open_date,
      </if>
      <if test="orderClosePrice != null">
        order_close_price,
      </if>
      <if test="orderCloseDate != null">
        order_close_date,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userOrderId != null">
        #{userOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userServerId != null">
        #{userServerId,jdbcType=INTEGER},
      </if>
      <if test="userServerName != null">
        #{userServerName,jdbcType=VARCHAR},
      </if>
      <if test="userMtAccId != null">
        #{userMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalId != null">
        #{signalId,jdbcType=INTEGER},
      </if>
      <if test="signalOrderId != null">
        #{signalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="signalServerId != null">
        #{signalServerId,jdbcType=INTEGER},
      </if>
      <if test="signalServerName != null">
        #{signalServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalMtAccId != null">
        #{signalMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalOrderSuperior != null">
        #{signalOrderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="followDirect != null">
        #{followDirect,jdbcType=TINYINT},
      </if>
      <if test="followMode != null">
        #{followMode,jdbcType=TINYINT},
      </if>
      <if test="followType != null">
        #{followType,jdbcType=TINYINT},
      </if>
      <if test="followAmount != null">
        #{followAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderLots != null">
        #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderSymbol != null">
        #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderTradeOperation != null">
        #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderOpenPrice != null">
        #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClosePrice != null">
        #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.order.FuOrderFollowError">
    update fu_order_follow_error
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userOrderId != null">
        user_order_id = #{userOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userServerId != null">
        user_server_id = #{userServerId,jdbcType=INTEGER},
      </if>
      <if test="userServerName != null">
        user_server_name = #{userServerName,jdbcType=VARCHAR},
      </if>
      <if test="userMtAccId != null">
        user_mt_acc_id = #{userMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalId != null">
        signal_id = #{signalId,jdbcType=INTEGER},
      </if>
      <if test="signalOrderId != null">
        signal_order_id = #{signalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="signalServerId != null">
        signal_server_id = #{signalServerId,jdbcType=INTEGER},
      </if>
      <if test="signalServerName != null">
        signal_server_name = #{signalServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalMtAccId != null">
        signal_mt_acc_id = #{signalMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalOrderSuperior != null">
        signal_order_superior = #{signalOrderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="followDirect != null">
        follow_direct = #{followDirect,jdbcType=TINYINT},
      </if>
      <if test="followMode != null">
        follow_mode = #{followMode,jdbcType=TINYINT},
      </if>
      <if test="followType != null">
        follow_type = #{followType,jdbcType=TINYINT},
      </if>
      <if test="followAmount != null">
        follow_amount = #{followAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderLots != null">
        order_lots = #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderSymbol != null">
        order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderOpenPrice != null">
        order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClosePrice != null">
        order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.order.FuOrderFollowError">
    update fu_order_follow_error
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      user_order_id = #{userOrderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_server_id = #{userServerId,jdbcType=INTEGER},
      user_server_name = #{userServerName,jdbcType=VARCHAR},
      user_mt_acc_id = #{userMtAccId,jdbcType=VARCHAR},
      signal_id = #{signalId,jdbcType=INTEGER},
      signal_order_id = #{signalOrderId,jdbcType=VARCHAR},
      signal_server_id = #{signalServerId,jdbcType=INTEGER},
      signal_server_name = #{signalServerName,jdbcType=VARCHAR},
      signal_mt_acc_id = #{signalMtAccId,jdbcType=VARCHAR},
      signal_order_superior = #{signalOrderSuperior,jdbcType=VARCHAR},
      follow_direct = #{followDirect,jdbcType=TINYINT},
      follow_mode = #{followMode,jdbcType=TINYINT},
      follow_type = #{followType,jdbcType=TINYINT},
      follow_amount = #{followAmount,jdbcType=DECIMAL},
      order_lots = #{orderLots,jdbcType=DECIMAL},
      order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=TINYINT},
      order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      error_code = #{errorCode,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>