<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.order.FuOrderDaysumMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.order.FuOrderDaysum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="other_id" jdbcType="INTEGER" property="otherId" />
    <result column="server_id" jdbcType="INTEGER" property="serverId" />
    <result column="broker_id" jdbcType="INTEGER" property="brokerId" />
    <result column="server_name" jdbcType="VARCHAR" property="serverName" />
    <result column="broker_name" jdbcType="VARCHAR" property="brokerName" />
    <result column="mt_acc_id" jdbcType="VARCHAR" property="mtAccId" />
    <result column="trade_date" jdbcType="TIMESTAMP" property="tradeDate" />
    <result column="trade_type" jdbcType="TINYINT" property="tradeType" />
    <result column="order_lots" jdbcType="DECIMAL" property="orderLots" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="order_win_num" jdbcType="INTEGER" property="orderWinNum" />
    <result column="order_money" jdbcType="DECIMAL" property="orderMoney" />
    <result column="order_commission" jdbcType="DECIMAL" property="orderCommission" />
    <result column="order_swap" jdbcType="DECIMAL" property="orderSwap" />
    <result column="trade_weeks" jdbcType="INTEGER" property="tradeWeeks" />
    <result column="follows" jdbcType="INTEGER" property="follows" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="equity" jdbcType="DECIMAL" property="equity" />
    <result column="margin" jdbcType="DECIMAL" property="margin" />
    <result column="leverage" jdbcType="DECIMAL" property="leverage" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="credit" jdbcType="DECIMAL" property="credit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_type, other_id, server_id, broker_id, server_name, broker_name, 
    mt_acc_id, trade_date, trade_type, order_lots, order_num, order_win_num, order_money, 
    order_commission, order_swap, trade_weeks, follows, profit, equity, margin, leverage, 
    balance, credit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_order_daysum
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_order_daysum
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.order.FuOrderDaysum">
    insert into fu_order_daysum (id, user_id, user_type, 
      other_id, server_id, broker_id, 
      server_name, broker_name, mt_acc_id, 
      trade_date, trade_type, order_lots, 
      order_num, order_win_num, order_money, 
      order_commission, order_swap, trade_weeks, 
      follows, profit, equity, 
      margin, leverage, balance, 
      credit)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userType,jdbcType=TINYINT}, 
      #{otherId,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER}, #{brokerId,jdbcType=INTEGER}, 
      #{serverName,jdbcType=VARCHAR}, #{brokerName,jdbcType=VARCHAR}, #{mtAccId,jdbcType=VARCHAR}, 
      #{tradeDate,jdbcType=TIMESTAMP}, #{tradeType,jdbcType=TINYINT}, #{orderLots,jdbcType=DECIMAL}, 
      #{orderNum,jdbcType=INTEGER}, #{orderWinNum,jdbcType=INTEGER}, #{orderMoney,jdbcType=DECIMAL}, 
      #{orderCommission,jdbcType=DECIMAL}, #{orderSwap,jdbcType=DECIMAL}, #{tradeWeeks,jdbcType=INTEGER}, 
      #{follows,jdbcType=INTEGER}, #{profit,jdbcType=DECIMAL}, #{equity,jdbcType=DECIMAL}, 
      #{margin,jdbcType=DECIMAL}, #{leverage,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, 
      #{credit,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.order.FuOrderDaysum">
    insert into fu_order_daysum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="otherId != null">
        other_id,
      </if>
      <if test="serverId != null">
        server_id,
      </if>
      <if test="brokerId != null">
        broker_id,
      </if>
      <if test="serverName != null">
        server_name,
      </if>
      <if test="brokerName != null">
        broker_name,
      </if>
      <if test="mtAccId != null">
        mt_acc_id,
      </if>
      <if test="tradeDate != null">
        trade_date,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="orderLots != null">
        order_lots,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="orderWinNum != null">
        order_win_num,
      </if>
      <if test="orderMoney != null">
        order_money,
      </if>
      <if test="orderCommission != null">
        order_commission,
      </if>
      <if test="orderSwap != null">
        order_swap,
      </if>
      <if test="tradeWeeks != null">
        trade_weeks,
      </if>
      <if test="follows != null">
        follows,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="equity != null">
        equity,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="leverage != null">
        leverage,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="credit != null">
        credit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="otherId != null">
        #{otherId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="serverName != null">
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="brokerName != null">
        #{brokerName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=TINYINT},
      </if>
      <if test="orderLots != null">
        #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderWinNum != null">
        #{orderWinNum,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="tradeWeeks != null">
        #{tradeWeeks,jdbcType=INTEGER},
      </if>
      <if test="follows != null">
        #{follows,jdbcType=INTEGER},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="equity != null">
        #{equity,jdbcType=DECIMAL},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=DECIMAL},
      </if>
      <if test="leverage != null">
        #{leverage,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.order.FuOrderDaysum">
    update fu_order_daysum
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="otherId != null">
        other_id = #{otherId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        server_id = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        broker_id = #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="serverName != null">
        server_name = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="brokerName != null">
        broker_name = #{brokerName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null">
        trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=TINYINT},
      </if>
      <if test="orderLots != null">
        order_lots = #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderWinNum != null">
        order_win_num = #{orderWinNum,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null">
        order_money = #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        order_commission = #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        order_swap = #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="tradeWeeks != null">
        trade_weeks = #{tradeWeeks,jdbcType=INTEGER},
      </if>
      <if test="follows != null">
        follows = #{follows,jdbcType=INTEGER},
      </if>
      <if test="profit != null">
        profit = #{profit,jdbcType=DECIMAL},
      </if>
      <if test="equity != null">
        equity = #{equity,jdbcType=DECIMAL},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=DECIMAL},
      </if>
      <if test="leverage != null">
        leverage = #{leverage,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.order.FuOrderDaysum">
    update fu_order_daysum
    set user_id = #{userId,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=TINYINT},
      other_id = #{otherId,jdbcType=INTEGER},
      server_id = #{serverId,jdbcType=INTEGER},
      broker_id = #{brokerId,jdbcType=INTEGER},
      server_name = #{serverName,jdbcType=VARCHAR},
      broker_name = #{brokerName,jdbcType=VARCHAR},
      mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      trade_type = #{tradeType,jdbcType=TINYINT},
      order_lots = #{orderLots,jdbcType=DECIMAL},
      order_num = #{orderNum,jdbcType=INTEGER},
      order_win_num = #{orderWinNum,jdbcType=INTEGER},
      order_money = #{orderMoney,jdbcType=DECIMAL},
      order_commission = #{orderCommission,jdbcType=DECIMAL},
      order_swap = #{orderSwap,jdbcType=DECIMAL},
      trade_weeks = #{tradeWeeks,jdbcType=INTEGER},
      follows = #{follows,jdbcType=INTEGER},
      profit = #{profit,jdbcType=DECIMAL},
      equity = #{equity,jdbcType=DECIMAL},
      margin = #{margin,jdbcType=DECIMAL},
      leverage = #{leverage,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      credit = #{credit,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>