<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.order.FuOrderFollowInfoMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.order.FuOrderFollowInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="signal_id" jdbcType="INTEGER" property="signalId" />
    <result column="user_mt_acc_id" jdbcType="VARCHAR" property="userMtAccId" />
    <result column="user_server_id" jdbcType="INTEGER" property="userServerId" />
    <result column="user_server_name" jdbcType="VARCHAR" property="userServerName" />
    <result column="signal_server_id" jdbcType="INTEGER" property="signalServerId" />
    <result column="signal_server_name" jdbcType="VARCHAR" property="signalServerName" />
    <result column="signal_mt_acc_id" jdbcType="VARCHAR" property="signalMtAccId" />
    <result column="signal_order_id" jdbcType="VARCHAR" property="signalOrderId" />
    <result column="order_symbol" jdbcType="VARCHAR" property="orderSymbol" />
    <result column="order_lots" jdbcType="DECIMAL" property="orderLots" />
    <result column="order_stoploss" jdbcType="DECIMAL" property="orderStoploss" />
    <result column="order_takeprofit" jdbcType="DECIMAL" property="orderTakeprofit" />
    <result column="order_source_flag" jdbcType="TINYINT" property="orderSourceFlag" />
    <result column="order_trade_operation" jdbcType="TINYINT" property="orderTradeOperation" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_split_type" jdbcType="TINYINT" property="orderSplitType" />
    <result column="order_superior" jdbcType="VARCHAR" property="orderSuperior" />
    <result column="order_profit" jdbcType="DECIMAL" property="orderProfit" />
    <result column="order_swap" jdbcType="DECIMAL" property="orderSwap" />
    <result column="order_commission" jdbcType="DECIMAL" property="orderCommission" />
    <result column="order_magic" jdbcType="DECIMAL" property="orderMagic" />
    <result column="order_open_price" jdbcType="DECIMAL" property="orderOpenPrice" />
    <result column="order_open_date" jdbcType="TIMESTAMP" property="orderOpenDate" />
    <result column="order_close_price" jdbcType="DECIMAL" property="orderClosePrice" />
    <result column="order_close_date" jdbcType="TIMESTAMP" property="orderCloseDate" />
    <result column="order_expiration" jdbcType="TIMESTAMP" property="orderExpiration" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="follow_direct" jdbcType="TINYINT" property="followDirect" />
    <result column="follow_mode" jdbcType="TINYINT" property="followMode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, order_id, user_id, signal_id, user_mt_acc_id, user_server_id, 
    user_server_name, signal_server_id, signal_server_name, signal_mt_acc_id, signal_order_id, 
    order_symbol, order_lots, order_stoploss, order_takeprofit, order_source_flag, order_trade_operation, 
    order_type, order_split_type, order_superior, order_profit, order_swap, order_commission, 
    order_magic, order_open_price, order_open_date, order_close_price, order_close_date, 
    order_expiration, comment, follow_direct, follow_mode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_order_follow_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_order_follow_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.order.FuOrderFollowInfo">
    insert into fu_order_follow_info (id, create_date, modify_date, 
      order_id, user_id, signal_id, 
      user_mt_acc_id, user_server_id, user_server_name, 
      signal_server_id, signal_server_name, signal_mt_acc_id, 
      signal_order_id, order_symbol, order_lots, 
      order_stoploss, order_takeprofit, order_source_flag, 
      order_trade_operation, order_type, order_split_type, 
      order_superior, order_profit, order_swap, 
      order_commission, order_magic, order_open_price, 
      order_open_date, order_close_price, order_close_date, 
      order_expiration, comment, follow_direct, 
      follow_mode)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{signalId,jdbcType=INTEGER}, 
      #{userMtAccId,jdbcType=VARCHAR}, #{userServerId,jdbcType=INTEGER}, #{userServerName,jdbcType=VARCHAR}, 
      #{signalServerId,jdbcType=INTEGER}, #{signalServerName,jdbcType=VARCHAR}, #{signalMtAccId,jdbcType=VARCHAR}, 
      #{signalOrderId,jdbcType=VARCHAR}, #{orderSymbol,jdbcType=VARCHAR}, #{orderLots,jdbcType=DECIMAL}, 
      #{orderStoploss,jdbcType=DECIMAL}, #{orderTakeprofit,jdbcType=DECIMAL}, #{orderSourceFlag,jdbcType=TINYINT}, 
      #{orderTradeOperation,jdbcType=TINYINT}, #{orderType,jdbcType=TINYINT}, #{orderSplitType,jdbcType=TINYINT}, 
      #{orderSuperior,jdbcType=VARCHAR}, #{orderProfit,jdbcType=DECIMAL}, #{orderSwap,jdbcType=DECIMAL}, 
      #{orderCommission,jdbcType=DECIMAL}, #{orderMagic,jdbcType=DECIMAL}, #{orderOpenPrice,jdbcType=DECIMAL}, 
      #{orderOpenDate,jdbcType=TIMESTAMP}, #{orderClosePrice,jdbcType=DECIMAL}, #{orderCloseDate,jdbcType=TIMESTAMP}, 
      #{orderExpiration,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, #{followDirect,jdbcType=TINYINT}, 
      #{followMode,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.order.FuOrderFollowInfo">
    insert into fu_order_follow_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="signalId != null">
        signal_id,
      </if>
      <if test="userMtAccId != null">
        user_mt_acc_id,
      </if>
      <if test="userServerId != null">
        user_server_id,
      </if>
      <if test="userServerName != null">
        user_server_name,
      </if>
      <if test="signalServerId != null">
        signal_server_id,
      </if>
      <if test="signalServerName != null">
        signal_server_name,
      </if>
      <if test="signalMtAccId != null">
        signal_mt_acc_id,
      </if>
      <if test="signalOrderId != null">
        signal_order_id,
      </if>
      <if test="orderSymbol != null">
        order_symbol,
      </if>
      <if test="orderLots != null">
        order_lots,
      </if>
      <if test="orderStoploss != null">
        order_stoploss,
      </if>
      <if test="orderTakeprofit != null">
        order_takeprofit,
      </if>
      <if test="orderSourceFlag != null">
        order_source_flag,
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderSplitType != null">
        order_split_type,
      </if>
      <if test="orderSuperior != null">
        order_superior,
      </if>
      <if test="orderProfit != null">
        order_profit,
      </if>
      <if test="orderSwap != null">
        order_swap,
      </if>
      <if test="orderCommission != null">
        order_commission,
      </if>
      <if test="orderMagic != null">
        order_magic,
      </if>
      <if test="orderOpenPrice != null">
        order_open_price,
      </if>
      <if test="orderOpenDate != null">
        order_open_date,
      </if>
      <if test="orderClosePrice != null">
        order_close_price,
      </if>
      <if test="orderCloseDate != null">
        order_close_date,
      </if>
      <if test="orderExpiration != null">
        order_expiration,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="followDirect != null">
        follow_direct,
      </if>
      <if test="followMode != null">
        follow_mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalId != null">
        #{signalId,jdbcType=INTEGER},
      </if>
      <if test="userMtAccId != null">
        #{userMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="userServerId != null">
        #{userServerId,jdbcType=INTEGER},
      </if>
      <if test="userServerName != null">
        #{userServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalServerId != null">
        #{signalServerId,jdbcType=INTEGER},
      </if>
      <if test="signalServerName != null">
        #{signalServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalMtAccId != null">
        #{signalMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalOrderId != null">
        #{signalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSymbol != null">
        #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderLots != null">
        #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderStoploss != null">
        #{orderStoploss,jdbcType=DECIMAL},
      </if>
      <if test="orderTakeprofit != null">
        #{orderTakeprofit,jdbcType=DECIMAL},
      </if>
      <if test="orderSourceFlag != null">
        #{orderSourceFlag,jdbcType=TINYINT},
      </if>
      <if test="orderTradeOperation != null">
        #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderSplitType != null">
        #{orderSplitType,jdbcType=TINYINT},
      </if>
      <if test="orderSuperior != null">
        #{orderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="orderProfit != null">
        #{orderProfit,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderMagic != null">
        #{orderMagic,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenPrice != null">
        #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClosePrice != null">
        #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderExpiration != null">
        #{orderExpiration,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="followDirect != null">
        #{followDirect,jdbcType=TINYINT},
      </if>
      <if test="followMode != null">
        #{followMode,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.order.FuOrderFollowInfo">
    update fu_order_follow_info
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="signalId != null">
        signal_id = #{signalId,jdbcType=INTEGER},
      </if>
      <if test="userMtAccId != null">
        user_mt_acc_id = #{userMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="userServerId != null">
        user_server_id = #{userServerId,jdbcType=INTEGER},
      </if>
      <if test="userServerName != null">
        user_server_name = #{userServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalServerId != null">
        signal_server_id = #{signalServerId,jdbcType=INTEGER},
      </if>
      <if test="signalServerName != null">
        signal_server_name = #{signalServerName,jdbcType=VARCHAR},
      </if>
      <if test="signalMtAccId != null">
        signal_mt_acc_id = #{signalMtAccId,jdbcType=VARCHAR},
      </if>
      <if test="signalOrderId != null">
        signal_order_id = #{signalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSymbol != null">
        order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderLots != null">
        order_lots = #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderStoploss != null">
        order_stoploss = #{orderStoploss,jdbcType=DECIMAL},
      </if>
      <if test="orderTakeprofit != null">
        order_takeprofit = #{orderTakeprofit,jdbcType=DECIMAL},
      </if>
      <if test="orderSourceFlag != null">
        order_source_flag = #{orderSourceFlag,jdbcType=TINYINT},
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderSplitType != null">
        order_split_type = #{orderSplitType,jdbcType=TINYINT},
      </if>
      <if test="orderSuperior != null">
        order_superior = #{orderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="orderProfit != null">
        order_profit = #{orderProfit,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        order_swap = #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        order_commission = #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderMagic != null">
        order_magic = #{orderMagic,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenPrice != null">
        order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClosePrice != null">
        order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderExpiration != null">
        order_expiration = #{orderExpiration,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="followDirect != null">
        follow_direct = #{followDirect,jdbcType=TINYINT},
      </if>
      <if test="followMode != null">
        follow_mode = #{followMode,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.order.FuOrderFollowInfo">
    update fu_order_follow_info
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      signal_id = #{signalId,jdbcType=INTEGER},
      user_mt_acc_id = #{userMtAccId,jdbcType=VARCHAR},
      user_server_id = #{userServerId,jdbcType=INTEGER},
      user_server_name = #{userServerName,jdbcType=VARCHAR},
      signal_server_id = #{signalServerId,jdbcType=INTEGER},
      signal_server_name = #{signalServerName,jdbcType=VARCHAR},
      signal_mt_acc_id = #{signalMtAccId,jdbcType=VARCHAR},
      signal_order_id = #{signalOrderId,jdbcType=VARCHAR},
      order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      order_lots = #{orderLots,jdbcType=DECIMAL},
      order_stoploss = #{orderStoploss,jdbcType=DECIMAL},
      order_takeprofit = #{orderTakeprofit,jdbcType=DECIMAL},
      order_source_flag = #{orderSourceFlag,jdbcType=TINYINT},
      order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      order_type = #{orderType,jdbcType=TINYINT},
      order_split_type = #{orderSplitType,jdbcType=TINYINT},
      order_superior = #{orderSuperior,jdbcType=VARCHAR},
      order_profit = #{orderProfit,jdbcType=DECIMAL},
      order_swap = #{orderSwap,jdbcType=DECIMAL},
      order_commission = #{orderCommission,jdbcType=DECIMAL},
      order_magic = #{orderMagic,jdbcType=DECIMAL},
      order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      order_expiration = #{orderExpiration,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      follow_direct = #{followDirect,jdbcType=TINYINT},
      follow_mode = #{followMode,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>