<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.order.FuOrderCustomerMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.order.FuOrderCustomer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mt_server_id" jdbcType="INTEGER" property="mtServerId" />
    <result column="mt_server_name" jdbcType="VARCHAR" property="mtServerName" />
    <result column="mt_acc_id" jdbcType="VARCHAR" property="mtAccId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_symbol" jdbcType="VARCHAR" property="orderSymbol" />
    <result column="order_lots" jdbcType="DECIMAL" property="orderLots" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_state" jdbcType="TINYINT" property="orderState" />
    <result column="order_stoploss" jdbcType="DECIMAL" property="orderStoploss" />
    <result column="order_profit" jdbcType="DECIMAL" property="orderProfit" />
    <result column="order_swap" jdbcType="DECIMAL" property="orderSwap" />
    <result column="order_commission" jdbcType="DECIMAL" property="orderCommission" />
    <result column="order_superior" jdbcType="VARCHAR" property="orderSuperior" />
    <result column="order_expiration" jdbcType="TIMESTAMP" property="orderExpiration" />
    <result column="order_magic" jdbcType="DECIMAL" property="orderMagic" />
    <result column="order_open_price" jdbcType="DECIMAL" property="orderOpenPrice" />
    <result column="order_open_date" jdbcType="TIMESTAMP" property="orderOpenDate" />
    <result column="order_trade_operation" jdbcType="TINYINT" property="orderTradeOperation" />
    <result column="order_trade_type" jdbcType="TINYINT" property="orderTradeType" />
    <result column="order_close_price" jdbcType="DECIMAL" property="orderClosePrice" />
    <result column="order_close_date" jdbcType="TIMESTAMP" property="orderCloseDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, user_id, mt_server_id, mt_server_name, mt_acc_id, order_id, 
    order_symbol, order_lots, order_type, order_state, order_stoploss, order_profit, 
    order_swap, order_commission, order_superior, order_expiration, order_magic, order_open_price, 
    order_open_date, order_trade_operation, order_trade_type, order_close_price, order_close_date, 
    comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_order_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_order_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.order.FuOrderCustomer">
    insert into fu_order_customer (id, create_date, modify_date, 
      user_id, mt_server_id, mt_server_name, 
      mt_acc_id, order_id, order_symbol, 
      order_lots, order_type, order_state, 
      order_stoploss, order_profit, order_swap, 
      order_commission, order_superior, order_expiration, 
      order_magic, order_open_price, order_open_date, 
      order_trade_operation, order_trade_type, order_close_price, 
      order_close_date, comment)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{mtServerId,jdbcType=INTEGER}, #{mtServerName,jdbcType=VARCHAR}, 
      #{mtAccId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderSymbol,jdbcType=VARCHAR}, 
      #{orderLots,jdbcType=DECIMAL}, #{orderType,jdbcType=TINYINT}, #{orderState,jdbcType=TINYINT}, 
      #{orderStoploss,jdbcType=DECIMAL}, #{orderProfit,jdbcType=DECIMAL}, #{orderSwap,jdbcType=DECIMAL}, 
      #{orderCommission,jdbcType=DECIMAL}, #{orderSuperior,jdbcType=VARCHAR}, #{orderExpiration,jdbcType=TIMESTAMP}, 
      #{orderMagic,jdbcType=DECIMAL}, #{orderOpenPrice,jdbcType=DECIMAL}, #{orderOpenDate,jdbcType=TIMESTAMP}, 
      #{orderTradeOperation,jdbcType=TINYINT}, #{orderTradeType,jdbcType=TINYINT}, #{orderClosePrice,jdbcType=DECIMAL}, 
      #{orderCloseDate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.order.FuOrderCustomer">
    insert into fu_order_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mtServerId != null">
        mt_server_id,
      </if>
      <if test="mtServerName != null">
        mt_server_name,
      </if>
      <if test="mtAccId != null">
        mt_acc_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderSymbol != null">
        order_symbol,
      </if>
      <if test="orderLots != null">
        order_lots,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="orderStoploss != null">
        order_stoploss,
      </if>
      <if test="orderProfit != null">
        order_profit,
      </if>
      <if test="orderSwap != null">
        order_swap,
      </if>
      <if test="orderCommission != null">
        order_commission,
      </if>
      <if test="orderSuperior != null">
        order_superior,
      </if>
      <if test="orderExpiration != null">
        order_expiration,
      </if>
      <if test="orderMagic != null">
        order_magic,
      </if>
      <if test="orderOpenPrice != null">
        order_open_price,
      </if>
      <if test="orderOpenDate != null">
        order_open_date,
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation,
      </if>
      <if test="orderTradeType != null">
        order_trade_type,
      </if>
      <if test="orderClosePrice != null">
        order_close_price,
      </if>
      <if test="orderCloseDate != null">
        order_close_date,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mtServerId != null">
        #{mtServerId,jdbcType=INTEGER},
      </if>
      <if test="mtServerName != null">
        #{mtServerName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSymbol != null">
        #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderLots != null">
        #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=TINYINT},
      </if>
      <if test="orderStoploss != null">
        #{orderStoploss,jdbcType=DECIMAL},
      </if>
      <if test="orderProfit != null">
        #{orderProfit,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderSuperior != null">
        #{orderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="orderExpiration != null">
        #{orderExpiration,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMagic != null">
        #{orderMagic,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenPrice != null">
        #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTradeOperation != null">
        #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderTradeType != null">
        #{orderTradeType,jdbcType=TINYINT},
      </if>
      <if test="orderClosePrice != null">
        #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.order.FuOrderCustomer">
    update fu_order_customer
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mtServerId != null">
        mt_server_id = #{mtServerId,jdbcType=INTEGER},
      </if>
      <if test="mtServerName != null">
        mt_server_name = #{mtServerName,jdbcType=VARCHAR},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSymbol != null">
        order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      </if>
      <if test="orderLots != null">
        order_lots = #{orderLots,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=TINYINT},
      </if>
      <if test="orderStoploss != null">
        order_stoploss = #{orderStoploss,jdbcType=DECIMAL},
      </if>
      <if test="orderProfit != null">
        order_profit = #{orderProfit,jdbcType=DECIMAL},
      </if>
      <if test="orderSwap != null">
        order_swap = #{orderSwap,jdbcType=DECIMAL},
      </if>
      <if test="orderCommission != null">
        order_commission = #{orderCommission,jdbcType=DECIMAL},
      </if>
      <if test="orderSuperior != null">
        order_superior = #{orderSuperior,jdbcType=VARCHAR},
      </if>
      <if test="orderExpiration != null">
        order_expiration = #{orderExpiration,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMagic != null">
        order_magic = #{orderMagic,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenPrice != null">
        order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOpenDate != null">
        order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTradeOperation != null">
        order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      </if>
      <if test="orderTradeType != null">
        order_trade_type = #{orderTradeType,jdbcType=TINYINT},
      </if>
      <if test="orderClosePrice != null">
        order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      </if>
      <if test="orderCloseDate != null">
        order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.order.FuOrderCustomer">
    update fu_order_customer
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      mt_server_id = #{mtServerId,jdbcType=INTEGER},
      mt_server_name = #{mtServerName,jdbcType=VARCHAR},
      mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_symbol = #{orderSymbol,jdbcType=VARCHAR},
      order_lots = #{orderLots,jdbcType=DECIMAL},
      order_type = #{orderType,jdbcType=TINYINT},
      order_state = #{orderState,jdbcType=TINYINT},
      order_stoploss = #{orderStoploss,jdbcType=DECIMAL},
      order_profit = #{orderProfit,jdbcType=DECIMAL},
      order_swap = #{orderSwap,jdbcType=DECIMAL},
      order_commission = #{orderCommission,jdbcType=DECIMAL},
      order_superior = #{orderSuperior,jdbcType=VARCHAR},
      order_expiration = #{orderExpiration,jdbcType=TIMESTAMP},
      order_magic = #{orderMagic,jdbcType=DECIMAL},
      order_open_price = #{orderOpenPrice,jdbcType=DECIMAL},
      order_open_date = #{orderOpenDate,jdbcType=TIMESTAMP},
      order_trade_operation = #{orderTradeOperation,jdbcType=TINYINT},
      order_trade_type = #{orderTradeType,jdbcType=TINYINT},
      order_close_price = #{orderClosePrice,jdbcType=DECIMAL},
      order_close_date = #{orderCloseDate,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getLastCustomerOrder" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    o.id, o.create_date, o.modify_date,  o.user_id, o.mt_server_id,o.mt_server_name, o.mt_acc_id,o.order_id, o.order_symbol,
    o.order_lots, o.order_type, o.order_state, o.order_stoploss, o.order_profit, o.order_swap, o.order_commission,
    o.order_superior, o.order_expiration, o.order_magic, o.order_open_price, o.order_open_date,
    o.order_trade_operation, o.order_trade_type, o.order_close_price, o.order_close_date, o.comment
    FROM
        fu_user u
    LEFT JOIN fu_order_customer o ON u.id = o.user_id
    WHERE 1=1
      <if test="comment != null">
        and u.username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and u.id = #{userId,jdbcType=INTEGER}
      </if>
    ORDER BY
        order_close_date desc
    LIMIT 0,1
  </select>
</mapper>