<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.account.FuAccountDepositMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.account.FuAccountDeposit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="deposit_id" jdbcType="VARCHAR" property="depositId" />
    <result column="deposit_amount" jdbcType="DECIMAL" property="depositAmount" />
    <result column="deposit_way" jdbcType="TINYINT" property="depositWay" />
    <result column="deposit_type" jdbcType="TINYINT" property="depositType" />
    <result column="deposit_time" jdbcType="TIMESTAMP" property="depositTime" />
    <result column="account_before" jdbcType="DECIMAL" property="accountBefore" />
    <result column="account_after" jdbcType="DECIMAL" property="accountAfter" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, account_id, order_id, deposit_id, deposit_amount, deposit_way, deposit_type, 
    deposit_time, account_before, account_after, status, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_account_deposit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_account_deposit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.account.FuAccountDeposit">
    insert into fu_account_deposit (id, user_id, account_id, 
      order_id, deposit_id, deposit_amount, 
      deposit_way, deposit_type, deposit_time, 
      account_before, account_after, status, 
      comment)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{accountId,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{depositId,jdbcType=VARCHAR}, #{depositAmount,jdbcType=DECIMAL}, 
      #{depositWay,jdbcType=TINYINT}, #{depositType,jdbcType=TINYINT}, #{depositTime,jdbcType=TIMESTAMP}, 
      #{accountBefore,jdbcType=DECIMAL}, #{accountAfter,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.account.FuAccountDeposit">
    insert into fu_account_deposit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="depositId != null">
        deposit_id,
      </if>
      <if test="depositAmount != null">
        deposit_amount,
      </if>
      <if test="depositWay != null">
        deposit_way,
      </if>
      <if test="depositType != null">
        deposit_type,
      </if>
      <if test="depositTime != null">
        deposit_time,
      </if>
      <if test="accountBefore != null">
        account_before,
      </if>
      <if test="accountAfter != null">
        account_after,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="depositId != null">
        #{depositId,jdbcType=VARCHAR},
      </if>
      <if test="depositAmount != null">
        #{depositAmount,jdbcType=DECIMAL},
      </if>
      <if test="depositWay != null">
        #{depositWay,jdbcType=TINYINT},
      </if>
      <if test="depositType != null">
        #{depositType,jdbcType=TINYINT},
      </if>
      <if test="depositTime != null">
        #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBefore != null">
        #{accountBefore,jdbcType=DECIMAL},
      </if>
      <if test="accountAfter != null">
        #{accountAfter,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.account.FuAccountDeposit">
    update fu_account_deposit
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="depositId != null">
        deposit_id = #{depositId,jdbcType=VARCHAR},
      </if>
      <if test="depositAmount != null">
        deposit_amount = #{depositAmount,jdbcType=DECIMAL},
      </if>
      <if test="depositWay != null">
        deposit_way = #{depositWay,jdbcType=TINYINT},
      </if>
      <if test="depositType != null">
        deposit_type = #{depositType,jdbcType=TINYINT},
      </if>
      <if test="depositTime != null">
        deposit_time = #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBefore != null">
        account_before = #{accountBefore,jdbcType=DECIMAL},
      </if>
      <if test="accountAfter != null">
        account_after = #{accountAfter,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.account.FuAccountDeposit">
    update fu_account_deposit
    set user_id = #{userId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      deposit_id = #{depositId,jdbcType=VARCHAR},
      deposit_amount = #{depositAmount,jdbcType=DECIMAL},
      deposit_way = #{depositWay,jdbcType=TINYINT},
      deposit_type = #{depositType,jdbcType=TINYINT},
      deposit_time = #{depositTime,jdbcType=TIMESTAMP},
      account_before = #{accountBefore,jdbcType=DECIMAL},
      account_after = #{accountAfter,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>