<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.account.FuAccountMtMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.account.FuAccountMt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="server_id" jdbcType="INTEGER" property="serverId" />
    <result column="broker_id" jdbcType="INTEGER" property="brokerId" />
    <result column="mt_acc_id" jdbcType="VARCHAR" property="mtAccId" />
    <result column="mt_password_trade" jdbcType="VARCHAR" property="mtPasswordTrade" />
    <result column="mt_password_watch" jdbcType="VARCHAR" property="mtPasswordWatch" />
    <result column="account_url" jdbcType="VARCHAR" property="accountUrl" />
    <result column="account_port" jdbcType="INTEGER" property="accountPort" />
    <result column="password_trade_checked" jdbcType="TINYINT" property="passwordTradeChecked" />
    <result column="password_watch_checked" jdbcType="TINYINT" property="passwordWatchChecked" />
    <result column="is_chief" jdbcType="TINYINT" property="isChief" />
    <result column="account_type" jdbcType="TINYINT" property="accountType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, server_id, broker_id, mt_acc_id, mt_password_trade, mt_password_watch, 
    account_url, account_port, password_trade_checked, password_watch_checked, is_chief, 
    account_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_account_mt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_account_mt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.account.FuAccountMt">
    insert into fu_account_mt (id, user_id, server_id, 
      broker_id, mt_acc_id, mt_password_trade, 
      mt_password_watch, account_url, account_port, 
      password_trade_checked, password_watch_checked, 
      is_chief, account_type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER}, 
      #{brokerId,jdbcType=INTEGER}, #{mtAccId,jdbcType=VARCHAR}, #{mtPasswordTrade,jdbcType=VARCHAR}, 
      #{mtPasswordWatch,jdbcType=VARCHAR}, #{accountUrl,jdbcType=VARCHAR}, #{accountPort,jdbcType=INTEGER}, 
      #{passwordTradeChecked,jdbcType=TINYINT}, #{passwordWatchChecked,jdbcType=TINYINT}, 
      #{isChief,jdbcType=TINYINT}, #{accountType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.account.FuAccountMt">
    insert into fu_account_mt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="serverId != null">
        server_id,
      </if>
      <if test="brokerId != null">
        broker_id,
      </if>
      <if test="mtAccId != null">
        mt_acc_id,
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade,
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch,
      </if>
      <if test="accountUrl != null">
        account_url,
      </if>
      <if test="accountPort != null">
        account_port,
      </if>
      <if test="passwordTradeChecked != null">
        password_trade_checked,
      </if>
      <if test="passwordWatchChecked != null">
        password_watch_checked,
      </if>
      <if test="isChief != null">
        is_chief,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="mtAccId != null">
        #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="accountUrl != null">
        #{accountUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountPort != null">
        #{accountPort,jdbcType=INTEGER},
      </if>
      <if test="passwordTradeChecked != null">
        #{passwordTradeChecked,jdbcType=TINYINT},
      </if>
      <if test="passwordWatchChecked != null">
        #{passwordWatchChecked,jdbcType=TINYINT},
      </if>
      <if test="isChief != null">
        #{isChief,jdbcType=TINYINT},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.account.FuAccountMt">
    update fu_account_mt
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        server_id = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        broker_id = #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="accountUrl != null">
        account_url = #{accountUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountPort != null">
        account_port = #{accountPort,jdbcType=INTEGER},
      </if>
      <if test="passwordTradeChecked != null">
        password_trade_checked = #{passwordTradeChecked,jdbcType=TINYINT},
      </if>
      <if test="passwordWatchChecked != null">
        password_watch_checked = #{passwordWatchChecked,jdbcType=TINYINT},
      </if>
      <if test="isChief != null">
        is_chief = #{isChief,jdbcType=TINYINT},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.account.FuAccountMt">
    update fu_account_mt
    set user_id = #{userId,jdbcType=INTEGER},
      server_id = #{serverId,jdbcType=INTEGER},
      broker_id = #{brokerId,jdbcType=INTEGER},
      mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      account_url = #{accountUrl,jdbcType=VARCHAR},
      account_port = #{accountPort,jdbcType=INTEGER},
      password_trade_checked = #{passwordTradeChecked,jdbcType=TINYINT},
      password_watch_checked = #{passwordWatchChecked,jdbcType=TINYINT},
      is_chief = #{isChief,jdbcType=TINYINT},
      account_type = #{accountType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserMTAccByCondition" parameterType="java.util.Map" resultType="com.future.pojo.bo.order.UserMTAccountBO">
    SELECT
    acc.id accountId,
    acc.mt_acc_id mtAccId,
    acc.is_chief isChief,
    acc.account_type accountType,
    acc.mt_password_trade mtPasswordTrade,
    acc.mt_password_watch mtPasswordWatch,
    acc.password_watch_checked passwordWatchChecked,
    acc.password_trade_checked passwordTradeChecked,
    acc.account_url accountUrl,
    acc.account_port accountPort,
    u.id userId,
    u.username,
    u.real_name realName,
    u.ref_name refName,
    u.user_state userState,
    u.user_type userType,
    u.email,
    u.mobile,
    s.id serverId,
    s.server_name serverName,
    s.broker_id brokerId,
    s.broker_name brokerName,
    s.server_state serverState
    FROM
    fu_account_mt acc
    LEFT JOIN fu_user u on u.id=acc.user_id
    LEFT JOIN fu_com_server s on acc.server_id=s.id
    where
    <trim  prefixOverrides="and">
        1 = 1
      <if test="username != null">
        and u.username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
        and u.mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and acc.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        and  acc.id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="mtAccId != null">
        and acc.mt_acc_id = #{mtAccId,jdbcType=INTEGER}
      </if>
      <if test="isChief != null">
        and acc.is_chief = #{isChief,jdbcType=TINYINT}
      </if>
      <if test="accountType != null">
        and acc.account_type = #{accountType,jdbcType=TINYINT}
      </if>
      <if test="serverName != null">
        and  s.server_name = #{serverName,jdbcType=VARCHAR}
      </if>
      <if test="brokerName != null">
        and s.broker_name = #{brokerName,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  <update id="updateByPrimaryCondition" parameterType="com.future.entity.account.FuAccountMt">
    update fu_account_mt
    <set>
      <if test="serverId != null">
        server_id = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        broker_id = #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="mtAccId != null">
        mt_acc_id = #{mtAccId,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordTrade != null">
        mt_password_trade = #{mtPasswordTrade,jdbcType=VARCHAR},
      </if>
      <if test="mtPasswordWatch != null">
        mt_password_watch = #{mtPasswordWatch,jdbcType=VARCHAR},
      </if>
      <if test="accountUrl != null">
        account_url = #{accountUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountPort != null">
        account_port = #{accountPort,jdbcType=INTEGER},
      </if>
      <if test="passwordTradeChecked != null">
        password_trade_checked = #{passwordTradeChecked,jdbcType=TINYINT},
      </if>
      <if test="passwordWatchChecked != null">
        password_watch_checked = #{passwordWatchChecked,jdbcType=TINYINT},
      </if>
      <if test="isChief != null">
        is_chief = #{isChief,jdbcType=TINYINT},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=TINYINT},
      </if>
    </set>
    where
    <trim  prefixOverrides="and">
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        and id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="mtAccId != null">
        and mt_acc_id = #{mtAccId,jdbcType=INTEGER}
      </if>
    </trim>
  </update>
</mapper>