<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.account.FuAccountCommissionFlowMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.account.FuAccountCommissionFlow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="commission_date" jdbcType="TIMESTAMP" property="commissionDate" />
    <result column="commission_type" jdbcType="TINYINT" property="commissionType" />
    <result column="commission_user_type" jdbcType="TINYINT" property="commissionUserType" />
    <result column="commission_level" jdbcType="TINYINT" property="commissionLevel" />
    <result column="commission_rate_type" jdbcType="TINYINT" property="commissionRateType" />
    <result column="commission_rate" jdbcType="DECIMAL" property="commissionRate" />
    <result column="source_money" jdbcType="DECIMAL" property="sourceMoney" />
    <result column="source_lots" jdbcType="DECIMAL" property="sourceLots" />
    <result column="commission_money" jdbcType="DECIMAL" property="commissionMoney" />
    <result column="commission_state" jdbcType="TINYINT" property="commissionState" />
    <result column="coin_type" jdbcType="TINYINT" property="coinType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, user_id, account_id, commission_date, commission_type, 
    commission_user_type, commission_level, commission_rate_type, commission_rate, source_money, 
    source_lots, commission_money, commission_state, coin_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_account_commission_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_account_commission_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.account.FuAccountCommissionFlow">
    insert into fu_account_commission_flow (id, create_date, modify_date, 
      user_id, account_id, commission_date, 
      commission_type, commission_user_type, commission_level, 
      commission_rate_type, commission_rate, source_money, 
      source_lots, commission_money, commission_state, 
      coin_type)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{commissionDate,jdbcType=TIMESTAMP}, 
      #{commissionType,jdbcType=TINYINT}, #{commissionUserType,jdbcType=TINYINT}, #{commissionLevel,jdbcType=TINYINT}, 
      #{commissionRateType,jdbcType=TINYINT}, #{commissionRate,jdbcType=DECIMAL}, #{sourceMoney,jdbcType=DECIMAL}, 
      #{sourceLots,jdbcType=DECIMAL}, #{commissionMoney,jdbcType=DECIMAL}, #{commissionState,jdbcType=TINYINT}, 
      #{coinType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.account.FuAccountCommissionFlow">
    insert into fu_account_commission_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="commissionDate != null">
        commission_date,
      </if>
      <if test="commissionType != null">
        commission_type,
      </if>
      <if test="commissionUserType != null">
        commission_user_type,
      </if>
      <if test="commissionLevel != null">
        commission_level,
      </if>
      <if test="commissionRateType != null">
        commission_rate_type,
      </if>
      <if test="commissionRate != null">
        commission_rate,
      </if>
      <if test="sourceMoney != null">
        source_money,
      </if>
      <if test="sourceLots != null">
        source_lots,
      </if>
      <if test="commissionMoney != null">
        commission_money,
      </if>
      <if test="commissionState != null">
        commission_state,
      </if>
      <if test="coinType != null">
        coin_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="commissionDate != null">
        #{commissionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissionType != null">
        #{commissionType,jdbcType=TINYINT},
      </if>
      <if test="commissionUserType != null">
        #{commissionUserType,jdbcType=TINYINT},
      </if>
      <if test="commissionLevel != null">
        #{commissionLevel,jdbcType=TINYINT},
      </if>
      <if test="commissionRateType != null">
        #{commissionRateType,jdbcType=TINYINT},
      </if>
      <if test="commissionRate != null">
        #{commissionRate,jdbcType=DECIMAL},
      </if>
      <if test="sourceMoney != null">
        #{sourceMoney,jdbcType=DECIMAL},
      </if>
      <if test="sourceLots != null">
        #{sourceLots,jdbcType=DECIMAL},
      </if>
      <if test="commissionMoney != null">
        #{commissionMoney,jdbcType=DECIMAL},
      </if>
      <if test="commissionState != null">
        #{commissionState,jdbcType=TINYINT},
      </if>
      <if test="coinType != null">
        #{coinType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.account.FuAccountCommissionFlow">
    update fu_account_commission_flow
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="commissionDate != null">
        commission_date = #{commissionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissionType != null">
        commission_type = #{commissionType,jdbcType=TINYINT},
      </if>
      <if test="commissionUserType != null">
        commission_user_type = #{commissionUserType,jdbcType=TINYINT},
      </if>
      <if test="commissionLevel != null">
        commission_level = #{commissionLevel,jdbcType=TINYINT},
      </if>
      <if test="commissionRateType != null">
        commission_rate_type = #{commissionRateType,jdbcType=TINYINT},
      </if>
      <if test="commissionRate != null">
        commission_rate = #{commissionRate,jdbcType=DECIMAL},
      </if>
      <if test="sourceMoney != null">
        source_money = #{sourceMoney,jdbcType=DECIMAL},
      </if>
      <if test="sourceLots != null">
        source_lots = #{sourceLots,jdbcType=DECIMAL},
      </if>
      <if test="commissionMoney != null">
        commission_money = #{commissionMoney,jdbcType=DECIMAL},
      </if>
      <if test="commissionState != null">
        commission_state = #{commissionState,jdbcType=TINYINT},
      </if>
      <if test="coinType != null">
        coin_type = #{coinType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.account.FuAccountCommissionFlow">
    update fu_account_commission_flow
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      commission_date = #{commissionDate,jdbcType=TIMESTAMP},
      commission_type = #{commissionType,jdbcType=TINYINT},
      commission_user_type = #{commissionUserType,jdbcType=TINYINT},
      commission_level = #{commissionLevel,jdbcType=TINYINT},
      commission_rate_type = #{commissionRateType,jdbcType=TINYINT},
      commission_rate = #{commissionRate,jdbcType=DECIMAL},
      source_money = #{sourceMoney,jdbcType=DECIMAL},
      source_lots = #{sourceLots,jdbcType=DECIMAL},
      commission_money = #{commissionMoney,jdbcType=DECIMAL},
      commission_state = #{commissionState,jdbcType=TINYINT},
      coin_type = #{coinType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findLastSumFlowByUserId" parameterType="java.util.Map" resultType="com.future.entity.account.FuAccountCommissionFlow">
    SELECT
      <include refid="Base_Column_List" />
    from
      fu_account_commission_flow
    WHERE
      1=1
      <if test="userId != null">
        and acc.commission_user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        and acc.commission_account_id = #{accountId,jdbcType=INTEGER}
      </if>
    order BY
    commission_date desc limit
    <choose>
      <when test="limit != null">
        #{limit,jdbcType=INTEGER}
      </when>
      <otherwise>
        1
      </otherwise>
    </choose>
  </select>
</mapper>