<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.permission.FuPermissionRoleMapper">

    <resultMap id="Role" type="com.future.pojo.vo.permission.FuPermissionRoleVO">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="Id" property="id" jdbcType="INTEGER"/>
        <result column="Role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="Role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="Role_level" property="roleLevel" jdbcType="INTEGER"/>
        <result column="Role_flag" property="roleFlag" jdbcType="VARCHAR"/>
        <result column="Role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumnList">
        Id,
        Role_code,
        Role_name,
        Role_level,
        Proj_key,
        Role_desc,
        Creater,
        create_date,
        modify_date
    </sql>

    <!-- 通过角色BO查询 -->
    <select id="selectPageList" parameterType="com.future.pojo.bo.permission.FuPermissionRoleBO" resultType="com.future.pojo.vo.permission.FuPermissionRoleVO">
        SELECT
        tpr.Id,
        Role_code,
        Role_name,
        Role_level,
        Role_sign,
        role_status,
        tpr.Proj_key,
        Role_desc,
        tpr.Creater,
        tpr.create_date,
        tpp.Proj_name
        FROM fu_permission_role tpr
        LEFT JOIN fu_permission_project tpp ON tpp.Proj_key = tpr.Proj_key
        WHERE Role_status = 1 AND Role_sign = 2   AND Role_level = 3 AND tpp.Proj_status = 1
        <if test="projKeys != null and projKeys.size > 0">
            AND tpr.Proj_key
            <foreach collection="projKeys" item="projKey" open="IN (" close=")" separator=",">
                #{projKey}
            </foreach>
        </if>
        <if test="roleBO.roleName != null and roleBO.roleName != ''">
            AND Role_name LIKE CONCAT('%', #{roleBO.roleName,jdbcType=VARCHAR},'%')
        </if>
        <if test="roleBO.creater != null and roleBO.creater != ''">
            AND tpr.Creater = #{roleBO.creater}
        </if>
        <if test="roleBO.roleLevel != null and roleBO.roleLevel != ''">
            AND Role_level = #{roleBO.roleLevel}
        </if>
        <if test="roleBO.projKey != null and roleBO.projKey != ''">
            AND tpr.Proj_key = #{roleBO.projKey}
        </if>
        ORDER BY tpr.Id desc
    </select>

    <!-- 查询全部角色，超级管理员 -->
    <select id="selectAllPageList" parameterType="com.future.pojo.bo.permission.FuPermissionRoleBO" resultType="com.future.pojo.vo.permission.FuPermissionRoleVO">
        SELECT
        tpr.Id,
        Role_code,
        Role_name,
        Role_level,
        Role_sign,
        role_status,
        tpr.Proj_key,
        Role_desc,
        tpr.Creater,
        tpr.create_date,
        tpp.Proj_name
        FROM fu_permission_role tpr
        LEFT JOIN fu_permission_project tpp ON tpp.Proj_key = tpr.Proj_key
        WHERE Role_status = 1 AND tpp.Proj_status = 1
        <if test="roleBO.roleName != null and roleBO.roleName != ''">
            AND Role_name LIKE CONCAT('%', #{roleBO.roleName,jdbcType=VARCHAR},'%')
        </if>
        <if test="roleBO.creater != null and roleBO.creater != ''">
            AND tpr.Creater = #{roleBO.creater}
        </if>
        <if test="roleBO.roleLevel != null and roleBO.roleLevel != ''">
            AND Role_level = #{roleBO.roleLevel}
        </if>
        <if test="roleBO.projKey != null and roleBO.projKey != ''">
            AND tpr.Proj_key = #{roleBO.projKey}
        </if>
        ORDER BY tpr.Id desc
    </select>

    <!-- 通过工程项目KEY查询 -->
    <select id="selectByProjKey" resultMap="Role">
        SELECT
        <include refid="baseColumnList"/>
        FROM fu_permission_role
        WHERE  Role_status =1
        <if test="projKey != null">
            AND Proj_key = #{projKey,jdbcType=INTEGER}
        </if>
    </select>

    <!-- 通过工程项目KEY集合查询 -->
    <select id="selectByProjKeys" resultMap="Role">
        SELECT
        <include refid="baseColumnList"/>
        FROM fu_permission_role
        WHERE  Role_status =1
        <if test="projKeys != null and projKeys.size > 0">
            AND Proj_key
            <foreach collection="projKeys" item="projKey" open="IN (" close=")" separator=",">
                #{projKey,jdbcType=INTEGER}
            </foreach>
        </if>
    </select>

    <!-- 通过主键集合删除 -->
    <update id="deleteByIds">
        UPDATE fu_permission_role
        SET Role_status = 0
        WHERE Id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!-- 通过角色名称以及主键集合查询所关联的角色信息集合 -->
    <select id="selectByRoleNameAndIds" resultMap="Role">
        SELECT
        <include refid="baseColumnList"/>
        FROM fu_permission_role
        WHERE  Role_status =1
        <if test="roleName != null and roleName != ''">
            AND Role_name LIKE CONCAT ('%', #{roleName}, '%')
        </if>
        <if test="ids != null and ids.size > 0">
            AND Proj_key
            <foreach collection="ids" item="id" open="IN (" close=")" separator=",">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </select>

</mapper>
