<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.permission.FuPermissionRoleMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.permission.FuPermissionRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_des" jdbcType="VARCHAR" property="roleDes" />
    <result column="create_man" jdbcType="VARCHAR" property="createMan" />
    <result column="modify_man" jdbcType="VARCHAR" property="modifyMan" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, role_name, role_des, create_man, modify_man
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_permission_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_permission_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.permission.FuPermissionRole">
    insert into fu_permission_role (id, create_date, modify_date, 
      role_name, role_des, create_man, 
      modify_man)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{roleName,jdbcType=VARCHAR}, #{roleDes,jdbcType=VARCHAR}, #{createMan,jdbcType=VARCHAR}, 
      #{modifyMan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.permission.FuPermissionRole">
    insert into fu_permission_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDes != null">
        role_des,
      </if>
      <if test="createMan != null">
        create_man,
      </if>
      <if test="modifyMan != null">
        modify_man,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null">
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null">
        #{modifyMan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.permission.FuPermissionRole">
    update fu_permission_role
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        role_des = #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null">
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null">
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.permission.FuPermissionRole">
    update fu_permission_role
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_des = #{roleDes,jdbcType=VARCHAR},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>