<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.mapper.permission.FuPermissionAdminMapper">
  <resultMap id="BaseResultMap" type="com.future.entity.permission.FuPermissionAdmin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="proj_key" jdbcType="INTEGER" property="projKey" />
    <result column="admin_state" jdbcType="TINYINT" property="adminState" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="reg_ip" jdbcType="VARCHAR" property="regIp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, proj_key, admin_state, email, password, reg_time, last_login, login_ip, 
    reg_ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_permission_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fu_permission_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.entity.permission.FuPermissionAdmin">
    insert into fu_permission_admin (id, user_id, proj_key, 
      admin_state, email, password, 
      reg_time, last_login, login_ip, 
      reg_ip)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projKey,jdbcType=INTEGER}, 
      #{adminState,jdbcType=TINYINT}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{regTime,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{regIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.entity.permission.FuPermissionAdmin">
    insert into fu_permission_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projKey != null">
        proj_key,
      </if>
      <if test="adminState != null">
        admin_state,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="regIp != null">
        reg_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projKey != null">
        #{projKey,jdbcType=INTEGER},
      </if>
      <if test="adminState != null">
        #{adminState,jdbcType=TINYINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="regIp != null">
        #{regIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.entity.permission.FuPermissionAdmin">
    update fu_permission_admin
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projKey != null">
        proj_key = #{projKey,jdbcType=INTEGER},
      </if>
      <if test="adminState != null">
        admin_state = #{adminState,jdbcType=TINYINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="regIp != null">
        reg_ip = #{regIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.entity.permission.FuPermissionAdmin">
    update fu_permission_admin
    set user_id = #{userId,jdbcType=INTEGER},
      proj_key = #{projKey,jdbcType=INTEGER},
      admin_state = #{adminState,jdbcType=TINYINT},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      reg_ip = #{regIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>